*{
    margin: 0;
    padding: 0;
    text-align: center;
  }


.titulo{
    font-size: 100px;
    font-style: gagalin;
    color: #2a3204;
    margin-left: 40px ;
}

body{
    background-color:#C2E69B;
}


header .imagem-topo{
    width: 100vw;
  height:30vw;
}

.pergunta1{
  font-size: 40px;
  margin-left: 100px;
  margin-top: 20px;
}

.pergunta2{
  font-size: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.pergunta3{
  font-size: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.pergunta4{
  font-size: 40px;
  margin-left: 40px;
  margin-top: 20px;
}