*{
    margin: 0;
    padding: 0;
    text-align: center;
  }


.titulo{
    font-size: 100px;
    color: #2a3204;
    margin-left: 40px ;
}

body{
    background-color:#C2E69B;
}


header .imagem-topo{
    width: 100vw;
  height:30vw;
}



li{

  font-size: 30px;
  text-align:left;
  margin-left: 100px;
}