*{
    margin: 0;
    padding: 0;
    text-align: center;
  }

header{

 .imagem-topo{
    width: 30%;
   margin-left: 0;
 }
}

.titulo{
    font-size: 50px;
    font-style: italic;
    color: rgb(90, 141, 83);
    margin-left: 40px ;
}

body{
    background-color: rgb(191, 219, 175);
}