*{
    margin: 0;
    padding: 0;
    text-align: center;
  }

/* Estilo para o cabeçalho */
.header {
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura da tela */
    height: 200px; /* Altura do cabeçalho */
    background-color: #333; /* Cor de fundo do cabeçalho */
    position: relative; /* Define a posição como relativa */
}

/* Estilo para a imagem no cabeçalho */
.header img {
    width: 100%; /* Faz a imagem ocupar toda a largura do cabeçalho */
    height: 100%; /* Faz a imagem ocupar toda a altura do cabeçalho */
    object-fit: cover; /* Faz a imagem cobrir todo o espaço disponível mantendo sua proporção */
}


.titulo{
    font-size: 50px;
    font-style: italic;
    color: rgb(90, 141, 83);
    margin-left: 40px ;
}

body{
    background-color: rgb(191, 219, 175);
}