*{
  margin: 0;
  padding: 0;
  text-align: center;
}


.titulo{
  font-size: 100px;
  color: #2a3204;
  margin-left: 40px ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  background-color:#C2E69B;
}


header .imagem-topo{
  width: 150vw;
height:30vw;
}



li{

font-size: 30px;
text-align:left;
margin-left: 50px;
margin-top: 20px;
color: #2A3204;
}

.per1 {
  font-size: 40px;
  color: #2A3204;
  background-color: #b0cf8f;
  margin-top: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 40px;
  text-align: center;

}

.per2 {
  font-size: 40px;
  color: #2A3204;
  background-color: #b0cf8f;
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 40px;
  text-align: center;

}

.per3 {
  font-size: 40px;
  color: #2A3204;
  background-color: #b0cf8f;
  margin-top: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
      margin-left: 40px;
  text-align: center;
}

.per4 {
  font-size: 40px;
  color: #2A3204;
  background-color: #b0cf8f;
  margin-top: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 40px;
  text-align: center;
}

.texto1 {
  font-size: 30px;
margin-top: 60px;
  margin-left: 30px;
  text-align: center;
  color: #2A3204;

}

.texto2 {
   font-size: 30px;
margin-top: 60px;
  margin-left: 30px;
  text-align: center;
  color: #2A3204;
}

.texto3 {
   font-size: 30px;
margin-top: 60px;
  margin-left: 30px;
  text-align: center;
  color: #2A3204;
}

.texto4 {
 font-size: 30px;
margin-top: 60px;
  margin-left: 30px;
  text-align: center;
  color: #2A3204;
}

.drone {
  width:20vw;
  height:30vw;
  margin-left: 250px;

}