*{
    margin: 0;
    padding: 0;
    text-align: center;
  }


.titulo{
    font-size: 100px;
    color: #2a3204;
    margin-left: 40px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color:#C2E69B;
}


header .imagem-topo{
    width: 100vw;
  height:30vw;
}



li{

  font-size: 45px;
  text-align:left;
  margin-left: 100px;
  margin-top: 20px;
  color: #2A3204;
}

  .per1 {
    font-size: 40px;
    color: #2A3204;
    padding: 10px;
    background-color: #b0cf8f;
    margin: 100px;
  }

  .per2 {
    font-size: 40px;
    color: #2A3204;
    padding: 10px;
    background-color: #b0cf8f;
    margin-top: 40px;

  }

  .per3 {
    font-size: 40px;
    color: #2A3204;
    padding: 10px;
    background-color: #b0cf8f;
    margin-top: 80px;
  }

  .per4 {
    font-size: 40px;
    color: #2A3204;
    padding: 10px;
    background-color: #b0cf8f;
    margin-top: 120px;
  }

  .texto1 {
    font-size: 25px;
   padding: 60px;
   text-align: center;
  }

  .texto2 {
    font-size: 25px;
    padding: 60px;
    text-align: center;
  }

  .texto3 {
    font-size: 25px;
    padding: 60px;
    text-align: center;
  }

  .texto4 {
    font-size: 25px; 
    padding: 60px;
    text-align: center;
  }
